{
  "openapi": "3.0.1",
  "info": {
    "title": "Qwen Image Editing",
    "version": "1.0.0",
    "description": "Ali Qwen image editing capability document. The public unified endpoint is `/v1/images/edits`. This document describes the gateway public contract for `qwen-image-2.0-pro`: keep `input.messages[].content[]` for image and text content, and expose the remaining control options as top-level OpenAI-style fields that the gateway maps to upstream `parameters`.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API service endpoint"
    }
  ],
  "tags": [
    {
      "name": "Qwen Image",
      "description": "Qwen image editing capability"
    }
  ],
  "paths": {
    "/v1/images/edits": {
      "post": {
        "summary": "Qwen Image Editing",
        "description": "Call Ali `qwen-image-2.0-pro` for single-image editing or multi-image fusion.\n\nThe public contract keeps top-level `model`, `input`, and `response_format`, while exposing `n`, `size`, `watermark`, `prompt_extend`, `negative_prompt`, and `seed` as top-level fields. Input images are provided in `input.messages[0].content[].image`, and the edit instruction is the `text` item in the same content array. Top-level `parameters` is not accepted.",
        "operationId": "aliQwenImageEdit",
        "tags": [
          "Qwen Image"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageEditRequest"
              },
              "examples": {
                "single_image_edit": {
                  "summary": "Single image edit",
                  "value": {
                    "model": "qwen-image-2.0-pro",
                    "response_format": "url",
                    "input": {
                      "messages": [
                        {
                          "role": "user",
                          "content": [
                            {
                              "image": "https://example.com/source.webp"
                            },
                            {
                              "text": "Replace the background with a beach sunset"
                            }
                          ]
                        }
                      ]
                    },
                    "n": 2,
                    "size": "1536*1024",
                    "watermark": false,
                    "prompt_extend": true,
                    "negative_prompt": "low quality",
                    "seed": 0
                  }
                },
                "multi_image_fusion": {
                  "summary": "Multi-image fusion",
                  "value": {
                    "model": "qwen-image-2.0-pro",
                    "response_format": "url",
                    "input": {
                      "messages": [
                        {
                          "role": "user",
                          "content": [
                            {
                              "image": "https://example.com/input1.png"
                            },
                            {
                              "image": "https://example.com/input2.png"
                            },
                            {
                              "image": "https://example.com/input3.png"
                            },
                            {
                              "text": "The girl in image 1 wears the black dress from image 2 and sits in the pose from image 3"
                            }
                          ]
                        }
                      ]
                    },
                    "n": 2,
                    "size": "1024*1536",
                    "watermark": false,
                    "prompt_extend": true,
                    "negative_prompt": "low resolution"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. Returns the edited image result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed, for example because the token is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body too large.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited or quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Invalid upstream response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "The upstream service is temporarily unavailable, or no channel is available for this model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ImageEditRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "qwen-image-2.0-pro"
            ],
            "description": "Image editing model name."
          },
          "response_format": {
            "type": "string",
            "enum": [
              "url",
              "b64_json"
            ],
            "description": "Unified response format.",
            "default": "url"
          },
          "input": {
            "$ref": "#/components/schemas/QwenImageInput"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 6,
            "description": "Number of output images. The gateway maps it to upstream `parameters.n`."
          },
          "size": {
            "type": "string",
            "description": "Output image resolution in `widthxheight` or `width*height` format. The gateway normalizes it and maps it to upstream `parameters.size`."
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether to add watermark. The gateway maps it to upstream `parameters.watermark`."
          },
          "prompt_extend": {
            "type": "boolean",
            "description": "Whether to enable prompt rewriting. The gateway maps it to upstream `parameters.prompt_extend`."
          },
          "negative_prompt": {
            "type": "string",
            "description": "Negative prompt. The gateway maps it to upstream `parameters.negative_prompt`."
          },
          "seed": {
            "type": "integer",
            "format": "int64",
            "description": "Random seed. Explicit `0` is preserved and mapped to upstream `parameters.seed`."
          }
        }
      },
      "QwenImageInput": {
        "type": "object",
        "required": [
          "messages"
        ],
        "properties": {
          "messages": {
            "type": "array",
            "description": "Only single-turn messages are currently supported.",
            "minItems": 1,
            "maxItems": 1,
            "items": {
              "$ref": "#/components/schemas/QwenImageMessage"
            }
          }
        }
      },
      "QwenImageMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user"
            ],
            "description": "Message role. Must be `user`."
          },
          "content": {
            "type": "array",
            "description": "The content array holds 1-3 image objects and 1 text instruction object.",
            "items": {
              "$ref": "#/components/schemas/QwenImageContent"
            }
          }
        }
      },
      "QwenImageContent": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "description": "Input image URL or Data URL."
          },
          "text": {
            "type": "string",
            "description": "Editing instruction. Supports Chinese and English, up to 800 characters."
          }
        }
      },
      "QwenImageParameters": {
        "type": "object",
        "properties": {
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 6,
            "default": 1,
            "description": "Number of images to generate."
          },
          "size": {
            "type": "string",
            "description": "Output image size in `width*height` format."
          },
          "watermark": {
            "type": "boolean",
            "default": false,
            "description": "Whether to add a watermark."
          },
          "prompt_extend": {
            "type": "boolean",
            "default": true,
            "description": "Whether to enable prompt rewriting."
          },
          "negative_prompt": {
            "type": "string",
            "description": "Negative prompt."
          },
          "seed": {
            "type": "integer",
            "description": "Random seed in the range [0, 2147483647]."
          }
        }
      },
      "ImageResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp in seconds when the response was created."
          },
          "data": {
            "type": "array",
            "description": "Generated image list.",
            "items": {
              "$ref": "#/components/schemas/ImageData"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Additional response metadata. Fields may vary by capability."
          }
        }
      },
      "ImageData": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Image download URL. Valid for 24 hours."
          },
          "b64_json": {
            "type": "string",
            "description": "Base64-encoded image data."
          },
          "revised_prompt": {
            "type": "string",
            "description": "Optimized prompt returned by the model."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "Error type such as `invalid_request_error`, `api_error`, or another upstream-compatible type."
              },
              "code": {
                "type": "string"
              },
              "param": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
