{
  "openapi": "3.0.1",
  "info": {
    "title": "Wan First-Frame to Video",
    "version": "1.0.0",
    "description": "First-frame image-to-video documentation for Wan models. The public endpoint is `/v1/videos` and creates asynchronous generation tasks.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API service endpoint"
    }
  ],
  "tags": [
    {
      "name": "Wan Video",
      "description": "Image-to-video capabilities for Wan models"
    }
  ],
  "paths": {
    "/v1/videos": {
      "post": {
        "summary": "Wan First-Frame to Video",
        "description": "For Wan first-frame image-to-video models. After submission, query task status with `GET /v1/videos/{task_id}`.\n\nPublic fields: `model`, `image`, `prompt`, `seconds`, `size`, `resolution`, `prompt_extend`, `watermark`, `seed`, and `negative_prompt`. Generated file links are typically temporary and should be downloaded promptly.",
        "operationId": "aliFirstFrameToVideo",
        "tags": [
          "Wan Video"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FirstFrameVideoRequest"
              },
              "examples": {
                "first_frame_video": {
                  "summary": "First frame to video",
                  "value": {
                    "model": "wan2.2-kf2v-flash",
                    "image": "https://example.com/first-frame.jpg",
                    "prompt": "Realistic style, a black kitten curiously looking at the sky, camera moving up from eye level to top-down",
                    "seconds": 5,
                    "resolution": "720P",
                    "prompt_extend": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission successful, returns video task object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "Query Ali Video Generation Task Status",
        "description": "Query video generation task status and results by task ID.\n\nTask status flow: PENDING → RUNNING → SUCCEEDED/FAILED.",
        "operationId": "aliQueryVideoStatus",
        "tags": [
          "Ali Video"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Video generation task ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Query successful, returns task status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskQueryResponse"
                }
              }
            }
          },
          "404": {
            "description": "Task not found or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "FirstFrameVideoRequest": {
        "type": "object",
        "required": [
          "model",
          "image"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "wan2.2-kf2v-flash",
              "wan2.1-kf2v-plus"
            ],
            "description": "Wanxiang first-frame-to-video model."
          },
          "image": {
            "type": "string",
            "description": "First frame image URL. Supports HTTP/HTTPS publicly accessible addresses."
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt describing desired video content. Supports Chinese and English, max 800 characters."
          },
          "seconds": {
            "type": "integer",
            "description": "Video duration in seconds. Currently fixed at 5 seconds.",
            "default": 5
          },
          "resolution": {
            "type": "string",
            "enum": [
              "480P",
              "720P",
              "1080P"
            ],
            "description": "Video resolution. wan2.2-kf2v-flash supports 480P/720P/1080P, wan2.1-kf2v-plus supports 720P only.",
            "default": "720P"
          },
          "size": {
            "type": "string",
            "description": "Same as resolution, for OpenAI compatibility. Options: 480P, 720P, 1080P."
          },
          "prompt_extend": {
            "type": "boolean",
            "description": "Whether to enable prompt intelligent rewriting.",
            "default": true
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether to add watermark to video.",
            "default": false
          },
          "seed": {
            "type": "integer",
            "description": "Random seed, range [0, 2147483647]."
          },
          "negative_prompt": {
            "type": "string",
            "description": "Negative prompt describing content to avoid. Max 500 characters."
          }
        }
      },
      "VideoTaskResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Task unique identifier."
          },
          "task_id": {
            "type": "string",
            "description": "Task ID (same as id)."
          },
          "object": {
            "type": "string",
            "example": "video"
          },
          "model": {
            "type": "string",
            "description": "Model name used."
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "running",
              "succeeded",
              "failed",
              "cancelled"
            ],
            "description": "Task status."
          },
          "progress": {
            "type": "integer",
            "description": "Task progress (percentage)."
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp of creation time (seconds)."
          }
        }
      },
      "VideoTaskQueryResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "task_id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "video"
          },
          "model": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "running",
              "succeeded",
              "failed",
              "cancelled"
            ],
            "description": "Task status."
          },
          "progress": {
            "type": "integer"
          },
          "created_at": {
            "type": "integer",
            "format": "int64"
          },
          "completed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp of completion time (seconds), returned only on success."
          },
          "video_url": {
            "type": "string",
            "description": "Generated video download URL. Valid for 24 hours, please save promptly. Returned only when status is succeeded."
          },
          "metadata": {
            "type": "object",
            "description": "Task detailed metadata.",
            "properties": {
              "orig_prompt": {
                "type": "string",
                "description": "Original input prompt."
              },
              "actual_prompt": {
                "type": "string",
                "description": "Optimized prompt (when prompt_extend enabled)."
              },
              "video_duration": {
                "type": "integer",
                "description": "Video duration in seconds."
              },
              "SR": {
                "type": "integer",
                "description": "Resolution level (returned by 2.2 models)."
              },
              "video_ratio": {
                "type": "string",
                "description": "Video aspect ratio (returned by 2.1 models)."
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
