{
  "openapi": "3.0.1",
  "info": {
    "title": "Wan Text to Image",
    "version": "1.0.0",
    "description": "Ali Wan text-to-image capability document. The public unified endpoint is `/v1/images/generations`. This document describes the gateway public contract for `wan2.7-image-pro`: keep `input.messages[].content[].text` for prompt content, and expose the remaining control options as top-level OpenAI-style fields that the gateway maps to upstream `parameters`.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API service endpoint"
    }
  ],
  "tags": [
    {
      "name": "Wan Image",
      "description": "Wan text-to-image capability"
    }
  ],
  "paths": {
    "/v1/images/generations": {
      "post": {
        "summary": "Wan Text to Image",
        "description": "Call Ali `wan2.7-image-pro` for text-to-image generation.\n\nThe public contract keeps top-level `model`, `input`, and `response_format`, while exposing `size`, `n`, `watermark`, `thinking_mode`, `enable_sequential`, `color_palette`, and `seed` as top-level fields. The prompt is provided in `input.messages[0].content[0].text`. Top-level `parameters` is not accepted.",
        "operationId": "aliWanTextToImage",
        "tags": [
          "Wan Image"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WanTextToImageRequest"
              },
              "examples": {
                "basic_generation": {
                  "summary": "Basic text-to-image",
                  "value": {
                    "model": "wan2.7-image-pro",
                    "response_format": "url",
                    "input": {
                      "messages": [
                        {
                          "role": "user",
                          "content": [
                            {
                              "text": "A flower shop with refined windows, a beautiful wooden door, and flowers on display"
                            }
                          ]
                        }
                      ]
                    },
                    "size": "2K",
                    "n": 1,
                    "watermark": false,
                    "thinking_mode": true,
                    "seed": 0
                  }
                },
                "sequential_generation": {
                  "summary": "Sequential image generation",
                  "value": {
                    "model": "wan2.7-image-pro",
                    "response_format": "url",
                    "input": {
                      "messages": [
                        {
                          "role": "user",
                          "content": [
                            {
                              "text": "A cinematic image set following the same stray orange cat across four seasons with consistent appearance."
                            }
                          ]
                        }
                      ]
                    },
                    "enable_sequential": true,
                    "n": 4,
                    "size": "2K",
                    "color_palette": [
                      {
                        "hex": "#C2D1E6",
                        "ratio": "23.51%"
                      },
                      {
                        "hex": "#CDD8E9",
                        "ratio": "20.13%"
                      },
                      {
                        "hex": "#B5C8DB",
                        "ratio": "15.88%"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. Returns the generated image result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed, for example because the token is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body too large.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited or quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Invalid upstream response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "The upstream service is temporarily unavailable, or no channel is available for this model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "WanTextToImageRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "wan2.7-image-pro"
            ],
            "description": "Text-to-image model name."
          },
          "response_format": {
            "type": "string",
            "enum": [
              "url",
              "b64_json"
            ],
            "description": "Unified response format.",
            "default": "url"
          },
          "input": {
            "$ref": "#/components/schemas/WanTextToImageInput"
          },
          "size": {
            "type": "string",
            "description": "Output image resolution, such as `1K`, `2K`, `4K`, or explicit width and height pixels. The gateway maps it to upstream `parameters.size`."
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 12,
            "description": "Number of output images. The range is 1-4 when sequential mode is disabled, and 1-12 when sequential mode is enabled. The gateway maps it to upstream `parameters.n`."
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether to add watermark. Explicit `false` is preserved and mapped to upstream `parameters.watermark`."
          },
          "thinking_mode": {
            "type": "boolean",
            "description": "Whether to enable thinking mode. The gateway maps it to upstream `parameters.thinking_mode`."
          },
          "enable_sequential": {
            "type": "boolean",
            "description": "Whether to enable sequential multi-image mode. The gateway maps it to upstream `parameters.enable_sequential`."
          },
          "color_palette": {
            "type": "array",
            "description": "Custom color palette. The gateway maps it to upstream `parameters.color_palette`.",
            "items": {
              "$ref": "#/components/schemas/WanColorPaletteItem"
            }
          },
          "seed": {
            "type": "integer",
            "format": "int64",
            "description": "Random seed. Explicit `0` is preserved and mapped to upstream `parameters.seed`."
          }
        }
      },
      "WanTextToImageInput": {
        "type": "object",
        "required": [
          "messages"
        ],
        "properties": {
          "messages": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1,
            "description": "Only single-turn messages are currently supported.",
            "items": {
              "$ref": "#/components/schemas/WanTextToImageMessage"
            }
          }
        }
      },
      "WanTextToImageMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user"
            ],
            "description": "Must be `user`."
          },
          "content": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1,
            "description": "Only one text content item is supported.",
            "items": {
              "$ref": "#/components/schemas/WanTextToImageContentItem"
            }
          }
        }
      },
      "WanTextToImageContentItem": {
        "type": "object",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "Text-to-image prompt."
          }
        }
      },
      "WanTextToImageParameters": {
        "type": "object",
        "properties": {
          "size": {
            "type": "string",
            "description": "Output image resolution preset such as `1K`, `2K`, `4K`, or explicit pixel dimensions."
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 12,
            "description": "Number of output images. The supported range is 1-4 when sequential mode is off, and 1-12 when it is on."
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether to add a watermark. Explicit `false` is preserved upstream."
          },
          "thinking_mode": {
            "type": "boolean",
            "description": "Whether to enable thinking mode. This applies only when sequential mode is off and there is no image input."
          },
          "enable_sequential": {
            "type": "boolean",
            "description": "Whether to enable sequential image-set generation."
          },
          "color_palette": {
            "type": "array",
            "description": "Custom color theme palette.",
            "items": {
              "$ref": "#/components/schemas/WanColorPaletteItem"
            }
          },
          "seed": {
            "type": "integer",
            "format": "int64",
            "description": "Random seed. Explicit `0` is preserved upstream."
          }
        }
      },
      "WanColorPaletteItem": {
        "type": "object",
        "required": [
          "hex",
          "ratio"
        ],
        "properties": {
          "hex": {
            "type": "string",
            "description": "Hex color value."
          },
          "ratio": {
            "type": "string",
            "description": "Color ratio such as `23.51%`."
          }
        }
      },
      "ImageResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "Response creation timestamp."
          },
          "data": {
            "type": "array",
            "description": "Generated image result list.",
            "items": {
              "$ref": "#/components/schemas/ImageData"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Pass-through upstream response metadata."
          }
        }
      },
      "ImageData": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Used when the result is returned as a URL."
          },
          "b64_json": {
            "type": "string",
            "description": "Used when the result is returned as Base64."
          },
          "revised_prompt": {
            "type": "string",
            "description": "Prompt rewritten by the upstream provider."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorObject"
          }
        }
      },
      "ErrorObject": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "param": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      }
    }
  }
}
