{
  "openapi": "3.0.1",
  "info": {
    "title": "Wan Image Editing",
    "version": "1.0.0",
    "description": "Ali Wan image editing capability document. The public unified endpoint is `/v1/images/edits`. This document describes the gateway public contract for `wan2.7-image-pro`: keep `input.messages[].content[]` for image and text content, and expose the remaining control options as top-level OpenAI-style fields that the gateway maps to upstream `parameters`.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API service endpoint"
    }
  ],
  "tags": [
    {
      "name": "Wan Image",
      "description": "Wan image editing capability"
    }
  ],
  "paths": {
    "/v1/images/edits": {
      "post": {
        "summary": "Wan Image Editing",
        "description": "Call Ali `wan2.7-image-pro` for image editing.\n\nThe public contract keeps top-level `model`, `input`, and `response_format`, while exposing `size`, `n`, `watermark`, `negative_prompt`, `seed`, and `bbox_list` as top-level fields. Input images are provided in `input.messages[0].content[].image`, and the edit instruction is the `text` item in the same content array. Top-level `parameters` is not accepted.",
        "operationId": "aliWanImageEdit",
        "tags": [
          "Wan Image"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WanImageEditRequest"
              },
              "examples": {
                "image_edit": {
                  "summary": "Image edit",
                  "value": {
                    "model": "wan2.7-image-pro",
                    "response_format": "url",
                    "input": {
                      "messages": [
                        {
                          "role": "user",
                          "content": [
                            {
                              "image": "https://example.com/car.webp"
                            },
                            {
                              "image": "https://example.com/paint.webp"
                            },
                            {
                              "text": "Spray the graffiti from image 2 onto the car in image 1"
                            }
                          ]
                        }
                      ]
                    },
                    "size": "2K",
                    "n": 1,
                    "watermark": false,
                    "negative_prompt": "keep the original body color",
                    "seed": 0
                  }
                },
                "interactive_edit": {
                  "summary": "Interactive edit",
                  "value": {
                    "model": "wan2.7-image-pro",
                    "response_format": "url",
                    "input": {
                      "messages": [
                        {
                          "role": "user",
                          "content": [
                            {
                              "image": "https://example.com/clock.webp"
                            },
                            {
                              "image": "https://example.com/room.webp"
                            },
                            {
                              "text": "Place the clock from image 1 into the boxed area of image 2"
                            }
                          ]
                        }
                      ]
                    },
                    "bbox_list": [
                      [],
                      [
                        [
                          989,
                          515,
                          1138,
                          681
                        ]
                      ]
                    ],
                    "size": "2K",
                    "n": 1,
                    "watermark": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. Returns the edited image result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed, for example because the token is missing or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Request body too large.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited or quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Invalid upstream response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "The upstream service is temporarily unavailable, or no channel is available for this model.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "WanImageEditRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "wan2.7-image-pro"
            ],
            "description": "Image editing model name."
          },
          "response_format": {
            "type": "string",
            "enum": [
              "url",
              "b64_json"
            ],
            "description": "Unified response format.",
            "default": "url"
          },
          "input": {
            "$ref": "#/components/schemas/WanImageInput"
          },
          "size": {
            "type": "string",
            "description": "Output image resolution. For image editing, the official presets such as `1K` and `2K` are recommended. The gateway maps it to upstream `parameters.size`."
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "description": "Number of generated images. The gateway maps it to upstream `parameters.n`."
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether to add watermark. The gateway maps it to upstream `parameters.watermark`."
          },
          "negative_prompt": {
            "type": "string",
            "description": "Negative prompt. The gateway maps it to upstream `parameters.negative_prompt`."
          },
          "seed": {
            "type": "integer",
            "description": "Random seed in the range [0, 2147483647]. The gateway maps it to upstream `parameters.seed`."
          },
          "bbox_list": {
            "type": "array",
            "description": "Interactive edit bounding boxes aligned with the input image order. The gateway maps it to upstream `parameters.bbox_list`.",
            "items": {
              "type": "array",
              "items": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "WanImageInput": {
        "type": "object",
        "required": [
          "messages"
        ],
        "properties": {
          "messages": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1,
            "description": "Only single-turn messages are currently supported.",
            "items": {
              "$ref": "#/components/schemas/WanImageMessage"
            }
          }
        }
      },
      "WanImageMessage": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user"
            ],
            "description": "Message role. Must be `user`."
          },
          "content": {
            "type": "array",
            "description": "The content array holds image items and a text instruction item in order.",
            "items": {
              "$ref": "#/components/schemas/WanImageContent"
            }
          }
        }
      },
      "WanImageContent": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "description": "Input image URL or Data URL."
          },
          "text": {
            "type": "string",
            "description": "Editing instruction."
          }
        }
      },
      "WanImageParameters": {
        "type": "object",
        "properties": {
          "size": {
            "type": "string",
            "description": "Output image size. For image editing, official presets such as `1K` and `2K` are recommended."
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "description": "Number of images to generate."
          },
          "watermark": {
            "type": "boolean",
            "default": false,
            "description": "Whether to add a watermark."
          },
          "negative_prompt": {
            "type": "string",
            "description": "Negative prompt."
          },
          "seed": {
            "type": "integer",
            "description": "Random seed in the range [0, 2147483647]."
          },
          "bbox_list": {
            "type": "array",
            "description": "Interactive editing bounding boxes aligned with the input image order.",
            "items": {
              "type": "array",
              "items": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "ImageResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp in seconds when the response was created."
          },
          "data": {
            "type": "array",
            "description": "Generated image list.",
            "items": {
              "$ref": "#/components/schemas/ImageData"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Additional response metadata. Fields may vary by capability."
          }
        }
      },
      "ImageData": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Image download URL. Valid for 24 hours."
          },
          "b64_json": {
            "type": "string",
            "description": "Base64-encoded image data."
          },
          "revised_prompt": {
            "type": "string",
            "description": "Optimized prompt returned by the model."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "Error type such as `invalid_request_error`, `api_error`, or another upstream-compatible type."
              },
              "code": {
                "type": "string"
              },
              "param": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
