{
  "openapi": "3.0.1",
  "info": {
    "title": "Seedream Image Generation",
    "version": "1.0.0",
    "description": "Image capability documentation for the Seedream model family. The public endpoint is `/v1/images/generations` and covers text-to-image, image-to-image, and sequential image workflows.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API service endpoint"
    }
  ],
  "tags": [
    {
      "name": "Seedream Image",
      "description": "Image generation capabilities for Seedream models"
    }
  ],
  "paths": {
    "/v1/images/generations": {
      "post": {
        "summary": "Seedream Image Generation",
        "description": "For Seedream image models.\n\nSupported models include `doubao-seedream-5.0-lite`, `doubao-seedream-4.5`, `doubao-seedream-4.0`, `doubao-seedream-3.0-t2i`, and `doubao-seededit-3.0-i2i`. Public fields: `model`, `prompt`, `image`, `size`, `seed`, `sequential_image_generation`, `n`, `response_format`, and `watermark`. Generated file links are typically temporary and should be downloaded promptly.",
        "operationId": "byteplusImageGenerations",
        "tags": [
          "Seedream Image"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerationRequest"
              },
              "examples": {
                "text_to_image": {
                  "summary": "Text to image",
                  "value": {
                    "model": "doubao-seedream-4.5",
                    "prompt": "A cute corgi running on grass, sunny day, realistic style",
                    "size": "2048x2048",
                    "response_format": "url"
                  }
                },
                "image_to_image": {
                  "summary": "Image to image",
                  "value": {
                    "model": "doubao-seedream-4.5",
                    "prompt": "Transform the image into Studio Ghibli animation style",
                    "image": "https://example.com/input.jpg",
                    "size": "2048x2048"
                  }
                },
                "sequential_images": {
                  "summary": "Sequential image generation",
                  "value": {
                    "model": "doubao-seedream-4.5",
                    "prompt": "A set of four seasons landscape illustrations, spring summer autumn winter",
                    "sequential_image_generation": "auto",
                    "response_format": "url"
                  }
                },
                "multi_image_reference": {
                  "summary": "Multi-image reference generation",
                  "value": {
                    "model": "doubao-seedream-4.5",
                    "prompt": "Combine the styles of these images to generate a new landscape",
                    "image": [
                      "https://example.com/ref1.jpg",
                      "https://example.com/ref2.jpg"
                    ],
                    "n": 3
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success, returns image generation result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ImageGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "doubao-seedream-5.0-lite",
              "doubao-seedream-4.5",
              "doubao-seedream-4.0",
              "doubao-seedream-3.0-t2i",
              "doubao-seededit-3.0-i2i"
            ],
            "description": "Image generation model name. seedream-5.0-lite/4.5/4.0 support sequential images; seedream-3.0-t2i is text-to-image only; seededit-3.0-i2i supports image-to-image."
          },
          "prompt": {
            "type": "string",
            "description": "Image generation prompt. Recommended max 300 Chinese characters or 600 English words."
          },
          "image": {
            "anyOf": [
              {
                "type": "string",
                "description": "Single reference image URL or Base64."
              },
              {
                "type": "array",
                "description": "Multiple reference images (2-14) for multi-image fusion/sequential generation.",
                "items": {
                  "type": "string"
                },
                "minItems": 1,
                "maxItems": 14
              }
            ],
            "description": "Reference images. seedream-5.0-lite/4.5/4.0 support 1-14 images; seededit-3.0-i2i supports 1 image; seedream-3.0-t2i does not support."
          },
          "n": {
            "type": "integer",
            "description": "Number of images to generate. With sequential_image_generation=auto, model auto-determines (max 15 including reference images).",
            "minimum": 1,
            "maximum": 15,
            "default": 1
          },
          "size": {
            "type": "string",
            "description": "Output image size.\n- seedream-5.0-lite: supports 2K/3K or custom (total pixels 3686400-10404496, aspect ratio 1/16-16)\n- seedream-4.5: supports 2K/4K or custom (total pixels 3686400-16777216, aspect ratio 1/16-16)\n- seedream-4.0: supports 1K/2K/4K or custom (total pixels 921600-16777216, aspect ratio 1/16-16)\n- seedream-3.0-t2i/seededit-3.0-i2i: total pixels 512x512 to 2048x2048, aspect ratio 1/3-3",
            "example": "2048x2048"
          },
          "response_format": {
            "type": "string",
            "enum": [
              "url",
              "b64_json"
            ],
            "description": "Response format.",
            "default": "url"
          },
          "seed": {
            "type": "integer",
            "description": "Random seed. Only seedream-3.0-t2i and seededit-3.0-i2i support. Range [-1, 2147483647].",
            "default": -1
          },
          "sequential_image_generation": {
            "type": "string",
            "enum": [
              "auto",
              "disabled"
            ],
            "description": "Sequential image generation switch. auto for auto mode, disabled for single image. Only seedream-5.0-lite/4.5/4.0 support.",
            "default": "disabled"
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether to add watermark.",
            "default": true
          }
        }
      },
      "ImageGenerationResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp of creation time (seconds)."
          },
          "data": {
            "type": "array",
            "description": "List of generated images. May contain multiple images in sequential generation.",
            "items": {
              "$ref": "#/components/schemas/ImageData"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Additional result metadata. Returned fields may vary by capability."
          }
        }
      },
      "ImageData": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Image download URL. Valid for 24 hours, please save promptly."
          },
          "b64_json": {
            "type": "string",
            "description": "Base64 encoded image data."
          },
          "size": {
            "type": "string",
            "description": "Image size (widthxheight). Only seedream-5.0-lite/4.5/4.0 return this."
          },
          "error": {
            "type": "object",
            "description": "Single image generation error info.",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
