{
  "openapi": "3.0.1",
  "info": {
    "title": "Video Task Status",
    "version": "1.0.0",
    "description": "Documentation for querying asynchronous video tasks. The public endpoint is `/v1/videos/{task_id}` and returns task status, progress, and result data.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API service endpoint"
    }
  ],
  "tags": [
    {
      "name": "Seedance Video",
      "description": "Video task status for Seedance workflows"
    }
  ],
  "paths": {
    "/v1/videos/{task_id}": {
      "get": {
        "summary": "Video Task Status",
        "description": "Query the latest state of an asynchronous video task by task ID.\n\nThe usual state flow is `queued -> running -> succeeded/failed/expired`. Only tasks created within the last 7 days are available.",
        "operationId": "byteplusQueryVideoStatus",
        "tags": [
          "Seedance Video"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Video generation task ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Query successful, returns task status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskQueryResponse"
                },
                "examples": {
                  "queued": {
                    "summary": "Queued",
                    "value": {
                      "id": "cgt-20250331175019-68d9t",
                      "task_id": "cgt-20250331175019-68d9t",
                      "object": "video",
                      "model": "doubao-seedance-1-5-pro-251215",
                      "status": "queued",
                      "progress": 0,
                      "created_at": 1742515200
                    }
                  },
                  "running": {
                    "summary": "Running",
                    "value": {
                      "id": "cgt-20250331175019-68d9t",
                      "task_id": "cgt-20250331175019-68d9t",
                      "object": "video",
                      "model": "doubao-seedance-1-5-pro-251215",
                      "status": "running",
                      "progress": 45,
                      "created_at": 1742515200
                    }
                  },
                  "succeeded": {
                    "summary": "Succeeded",
                    "value": {
                      "id": "cgt-20250331175019-68d9t",
                      "task_id": "cgt-20250331175019-68d9t",
                      "object": "video",
                      "model": "doubao-seedance-1-5-pro-251215",
                      "status": "succeeded",
                      "progress": 100,
                      "created_at": 1742515200,
                      "completed_at": 1742515500,
                      "video_url": "https://example.com/videos/output.mp4",
                      "metadata": {
                        "generate_audio": true,
                        "draft": false,
                        "resolution": "720p",
                        "ratio": "16:9",
                        "duration": 5,
                        "frames": 120,
                        "framespersecond": 24
                      }
                    }
                  },
                  "failed": {
                    "summary": "Failed",
                    "value": {
                      "id": "cgt-20250331175019-68d9t",
                      "task_id": "cgt-20250331175019-68d9t",
                      "object": "video",
                      "model": "doubao-seedance-1-5-pro-251215",
                      "status": "failed",
                      "progress": 0,
                      "created_at": 1742515200,
                      "completed_at": 1742515300,
                      "metadata": {
                        "error": {
                          "code": "InvalidParameter",
                          "message": "Invalid parameter value"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Task not found or expired (older than 7 days).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "VideoTaskQueryResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Video generation task ID."
          },
          "task_id": {
            "type": "string",
            "description": "Task ID (same as id)."
          },
          "object": {
            "type": "string",
            "example": "video"
          },
          "model": {
            "type": "string",
            "description": "Model name used."
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "running",
              "succeeded",
              "failed",
              "cancelled",
              "expired"
            ],
            "description": "Task status. queued: queuing; running: processing; succeeded: success; failed: failed; cancelled: cancelled; expired: timeout."
          },
          "progress": {
            "type": "integer",
            "description": "Task progress (percentage).",
            "minimum": 0,
            "maximum": 100
          },
          "created_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp of creation time (seconds)."
          },
          "updated_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp of status update (seconds)."
          },
          "completed_at": {
            "type": "integer",
            "format": "int64",
            "description": "Unix timestamp of completion (seconds), returned only on success or failure."
          },
          "video_url": {
            "type": "string",
            "description": "Generated video download URL. Valid for 24 hours, please save promptly. Returned only when status is succeeded."
          },
          "last_frame_url": {
            "type": "string",
            "description": "Video last frame image URL. Valid for 24 hours. Returned only when return_last_frame=true was set during task creation."
          },
          "metadata": {
            "type": "object",
            "description": "Task detailed metadata.",
            "properties": {
              "generate_audio": {
                "type": "boolean",
                "description": "Whether audio was generated. Only returned by Seedance 1.5 pro."
              },
              "draft": {
                "type": "boolean",
                "description": "Whether this is a draft video. Only returned by Seedance 1.5 pro."
              },
              "draft_task_id": {
                "type": "string",
                "description": "Draft video task ID. Returned when generating final video from draft."
              },
              "resolution": {
                "type": "string",
                "description": "Actual resolution generated."
              },
              "ratio": {
                "type": "string",
                "description": "Actual aspect ratio generated."
              },
              "duration": {
                "type": "integer",
                "description": "Actual duration in seconds. Returned when frames was not specified."
              },
              "frames": {
                "type": "integer",
                "description": "Actual number of frames. Returned when frames was specified."
              },
              "framespersecond": {
                "type": "integer",
                "description": "Video frame rate."
              },
              "service_tier": {
                "type": "string",
                "description": "Actual service tier used. default: online inference; flex: offline inference."
              },
              "execution_expires_after": {
                "type": "integer",
                "description": "Task expiration threshold in seconds."
              },
              "error": {
                "type": "object",
                "description": "Error information (when task failed).",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Error code."
                  },
                  "message": {
                    "type": "string",
                    "description": "Error message."
                  }
                }
              },
              "usage": {
                "type": "object",
                "description": "Token usage statistics.",
                "properties": {
                  "completion_tokens": {
                    "type": "integer",
                    "description": "Number of tokens consumed for video output."
                  },
                  "total_tokens": {
                    "type": "integer",
                    "description": "Total token count (equals completion_tokens)."
                  }
                }
              }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
