{
  "openapi": "3.0.1",
  "info": {
    "title": "Vidu 图生视频 (viduq3-pro)",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top"
    }
  ],
  "paths": {
    "/vidu/v1/videos/img2video": {
      "post": {
        "summary": "Vidu 图生视频 (viduq3-pro)",
        "operationId": "viduImageToVideoViduq3Pro",
        "description": "使用 Vidu 模型将图片转换为视频。提交任务后，请通过 `GET /vidu/v1/tasks/{task_id}` 查询状态。 使用模型 viduq3-pro。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageToVideoRequest"
              },
              "examples": {
                "basic_image_to_video": {
                  "summary": "基础图生视频",
                  "value": {
                    "model": "viduq3-pro",
                    "images": [
                      "https://example.com/image.png"
                    ],
                    "prompt": "让图片中的场景动起来"
                  }
                },
                "with_audio": {
                  "summary": "带音频的图生视频（q3 模型）",
                  "value": {
                    "model": "viduq3-pro",
                    "images": [
                      "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAE..."
                    ],
                    "audio": true,
                    "audio_type": "all",
                    "duration": 5
                  }
                },
                "with_recommended_prompt": {
                  "summary": "使用推荐提示词",
                  "value": {
                    "model": "viduq3-pro",
                    "images": [
                      "https://example.com/character.jpg"
                    ],
                    "is_rec": true,
                    "resolution": "720p"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "提交成功，返回视频任务对象。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageToVideoResponse"
                },
                "examples": {
                  "success": {
                    "summary": "提交成功",
                    "value": {
                      "task_id": "your_task_id_here",
                      "state": "created",
                      "model": "viduq3-pro",
                      "images": [
                        "https://prod-ss-images.s3.cn-northwest-1.amazonaws.com.cn/vidu-maas/template/image2video.png"
                      ],
                      "prompt": "The astronaut waved and the camera moved up.",
                      "duration": 5,
                      "seed": 123456789,
                      "resolution": "1080p",
                      "movement_amplitude": "auto",
                      "payload": "",
                      "off_peak": false,
                      "credits": 10,
                      "created_at": "2025-01-01T15:41:31.968916Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求参数不合法。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "参数错误",
                    "value": {
                      "code": "bad_request_body",
                      "message": "请求体格式错误或字段取值非法",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "鉴权失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "未授权",
                    "value": {
                      "code": "access_denied",
                      "message": "无效的令牌",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "触发速率限制或账户额度不足。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "额度不足",
                    "value": {
                      "code": "insufficient_user_quota",
                      "message": "当前账户额度不足，请稍后重试",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器内部错误。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "server_error": {
                    "summary": "服务器错误",
                    "value": {
                      "code": "internal_server_error",
                      "message": "服务器内部错误，请稍后重试",
                      "data": null
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "在请求头中传入 `Authorization: Bearer <token>`。"
      }
    },
    "schemas": {
      "ImageToVideoRequest": {
        "type": "object",
        "required": [
          "model",
          "images"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "viduq3-pro"
            ],
            "description": "视频生成模型名称。\n- **viduq3-pro**: 支持音画同步，支持分镜视频生成"
          },
          "images": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1,
            "items": {
              "type": "string"
            },
            "description": "用作生成视频起始帧的图片。\n- 仅接受 1 张图片\n- 支持公网 URL 或 Base64 格式\n- 支持格式：png, jpeg, jpg, webp\n- 图片宽高比必须在 1:4 到 4:1 之间\n- 单张图片限制 50MB\n- HTTP 请求体不超过 20MB\n- Base64 格式示例：`data:image/png;base64,{base64_encode}`"
          },
          "prompt": {
            "type": "string",
            "maxLength": 5000,
            "description": "文本提示词，用于描述视频生成内容。\n注意：如果使用了推荐提示词（is_rec=true），模型将忽略手动输入的 prompt 参数。"
          },
          "voice_id": {
            "type": "string",
            "description": "声音 ID，用于确定视频中的语音角色。**Q3 系列模型不生效**。\n系统会自动推荐合适的声音，也可通过声音克隆 API 克隆任意声音。"
          },
          "is_rec": {
            "type": "boolean",
            "default": false,
            "description": "是否使用推荐提示词。\n- **true**: 是，系统自动生成并应用推荐提示词，推荐提示词数量 = 1\n- **false**: 否，根据用户提供的提示词生成视频\n注意：启用推荐提示词功能时，每个任务将额外消耗 10 积分。"
          },
          "bgm": {
            "type": "boolean",
            "default": false,
            "description": "是否为生成的视频添加背景音乐。**q3 模型不生效**。\n- **true**: 系统自动添加合适的 BGM，无时长限制，系统自动适配\n- **false**: 不添加背景音乐\n注意：q2 模型在时长为 9 或 10 秒时 BGM 不生效；q3 模型不支持 BGM。"
          },
          "audio": {
            "type": "boolean",
            "default": false,
            "description": "是否使用直出音视频能力。\n- **false**: 不进行直出音视频，输出无声视频\n- **true**: 需要直出音视频，输出有声视频（包含对话和音效）\n注意 1：voice_id 参数仅在 audio=true 时生效\n注意 2：当此参数为 true 时，不支持交错模式（q3 模型支持交错模式）\n注意 3：当 model 为 q3 时，此参数默认值为 true"
          },
          "audio_type": {
            "type": "string",
            "enum": [
              "all",
              "speech_only",
              "sound-effect_only"
            ],
            "default": "all",
            "description": "音频类型，当 audio=true 时必填。\n- **all**: 音效+人声\n- **speech_only**: 仅人声\n- **sound-effect_only**: 仅音效\n注意：目前该参数仅支持 q2、q1 和 2.0 系列模型的音频分离。"
          },
          "duration": {
            "type": "integer",
            "description": "视频时长（秒）。不同模型的默认值和可用范围：\n- **viduq3-pro-fast, viduq3-pro, viduq3-turbo**: 默认 5，可用 1-16"
          },
          "seed": {
            "type": "integer",
            "description": "随机种子。\n- 默认为随机种子数\n- 手动设置值将覆盖默认随机种子"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "540p",
              "720p",
              "1080p"
            ],
            "description": "分辨率（基于模型和时长）。\n- **viduq3-pro-fast (1-16s)**: 默认 720p，可选 720p, 1080p\n- **viduq3-pro, viduq3-turbo (1-16s)**: 默认 720p，可选 540p, 720p, 1080p"
          },
          "movement_amplitude": {
            "type": "string",
            "enum": [
              "auto",
              "small",
              "medium",
              "large"
            ],
            "default": "auto",
            "description": "画面中物体的运动幅度。\n- 默认值：auto\n- 可选值：auto, small, medium, large\n注意：修改此参数对 q2、q3 模型无效。"
          },
          "payload": {
            "type": "string",
            "maxLength": 1048576,
            "description": "透传参数。\n不做处理，仅做数据透传，最大长度 1048576 字符。"
          },
          "off_peak": {
            "type": "boolean",
            "default": false,
            "description": "错峰模式。\n- **true**: 错峰生成模式\n- **false**: 正常生成模式\n错峰模式消耗更低积分（详见定价说明）。错峰模式下提交的任务将在 48 小时内生成，未完成的任务将自动取消并退还积分。支持取消错峰任务。"
          }
        }
      },
      "ImageToVideoResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "description": "任务 ID。"
          },
          "state": {
            "type": "string",
            "enum": [
              "created",
              "queueing",
              "processing",
              "success",
              "failed"
            ],
            "description": "任务处理状态：\n- **created**: 任务创建成功\n- **queueing**: 任务排队中\n- **processing**: 任务处理中\n- **success**: 生成成功\n- **failed**: 任务失败"
          },
          "model": {
            "type": "string",
            "description": "本次调用使用的模型参数。"
          },
          "prompt": {
            "type": "string",
            "description": "本次调用使用的文本提示词。"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "本次调用使用的图片列表。"
          },
          "duration": {
            "type": "integer",
            "description": "本次调用使用的视频时长参数。"
          },
          "audio": {
            "type": "boolean",
            "description": "本次调用是否使用音频。"
          },
          "audio_type": {
            "type": "string",
            "description": "本次调用使用的音频类型参数。"
          },
          "seed": {
            "type": "integer",
            "description": "本次调用使用的随机种子参数。"
          },
          "resolution": {
            "type": "string",
            "description": "本次调用使用的分辨率参数。"
          },
          "movement_amplitude": {
            "type": "string",
            "description": "本次调用使用的镜头运动幅度参数。"
          },
          "payload": {
            "type": "string",
            "description": "本次调用使用的透传参数。"
          },
          "off_peak": {
            "type": "boolean",
            "description": "本次调用使用的错峰模式参数。"
          },
          "credits": {
            "type": "integer",
            "description": "本次调用消耗的积分。"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "任务创建时间。"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "错误代码。"
          },
          "message": {
            "type": "string",
            "description": "错误描述信息。"
          },
          "data": {
            "type": "object",
            "nullable": true,
            "description": "附加的错误数据（可选）。"
          }
        }
      }
    }
  }
}
