{
  "openapi": "3.0.1",
  "info": {
    "title": "Vidu 图生视频 (viduq3-pro)",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top"
    }
  ],
  "paths": {
    "/vidu/ent/v2/img2video": {
      "post": {
        "summary": "Vidu 图生视频 (viduq3-pro)",
        "operationId": "viduImageToVideoViduq3Pro",
        "description": "使用 Vidu 模型将图片转换为视频。提交任务后，请通过 `GET /vidu/ent/v2/tasks/{task_id}` 查询状态。 使用模型 viduq3-pro。",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageToVideoRequest"
              },
              "examples": {
                "basic_image_to_video": {
                  "summary": "图生视频示例",
                  "value": {
                    "model": "viduq3-pro",
                    "images": [
                      "https://prod-ss-images.s3.cn-northwest-1.amazonaws.com.cn/vidu-maas/template/image2video.png"
                    ],
                    "prompt": "The astronaut waved and the camera moved up.",
                    "audio": true,
                    "voice_id": "professional_host",
                    "duration": 5,
                    "seed": 0,
                    "resolution": "1080p",
                    "movement_amplitude": "auto",
                    "off_peak": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "提交成功，返回视频任务对象。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageToVideoResponse"
                },
                "examples": {
                  "success": {
                    "summary": "提交成功",
                    "value": {
                      "task_id": "your_task_id_here",
                      "state": "created",
                      "model": "viduq3-pro",
                      "images": [
                        "https://prod-ss-images.s3.cn-northwest-1.amazonaws.com.cn/vidu-maas/template/image2video.png"
                      ],
                      "prompt": "The astronaut waved and the camera moved up.",
                      "duration": 5,
                      "seed": 123456789,
                      "resolution": "1080p",
                      "movement_amplitude": "auto",
                      "payload": "",
                      "off_peak": false,
                      "credits": 10,
                      "created_at": "2025-01-01T15:41:31.968916Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "请求参数不合法。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_request": {
                    "summary": "参数错误",
                    "value": {
                      "code": "bad_request_body",
                      "message": "请求体格式错误或字段取值非法",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "鉴权失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "unauthorized": {
                    "summary": "未授权",
                    "value": {
                      "code": "access_denied",
                      "message": "无效的令牌",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "触发速率限制或账户额度不足。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "quota_exceeded": {
                    "summary": "额度不足",
                    "value": {
                      "code": "insufficient_user_quota",
                      "message": "当前账户额度不足，请稍后重试",
                      "data": null
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "服务器内部错误。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "server_error": {
                    "summary": "服务器错误",
                    "value": {
                      "code": "internal_server_error",
                      "message": "服务器内部错误，请稍后重试",
                      "data": null
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "在请求头中传入 `Authorization: Bearer <token>`。"
      }
    },
    "schemas": {
      "ImageToVideoRequest": {
        "type": "object",
        "required": [
          "model",
          "images"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "viduq3-pro"
            ],
            "description": "模型名称\n可选值：viduq3-pro\n- viduq3-pro-fast：高效生成优质音视频内容，生成速度更快，性价比高\n- viduq3-turbo：对比viduq3-pro，生成速度更快\n- viduq3-pro：高效生成优质音视频内容，让视频内容更生动、更形象、更立体，效果更好"
          },
          "images": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1,
            "items": {
              "type": "string"
            },
            "description": "首帧图像\n模型将以此参数中传入的图片为首帧画面来生成视频。\n注1：支持传入图片 Base64 编码或图片URL（确保可访问）；\n注2：只支持输入 1 张图；\n注3：图片支持 png、jpeg、jpg、webp格式；\n注4：图片比例需要小于 1:4 或者 4:1 ；\n注5：图片大小不超过 50 MB；\n注6：请注意，http请求的post body不超过20MB，且编码必须包含适当的内容类型字符串，例如：\ndata:image/png;base64,{base64_encode}"
          },
          "prompt": {
            "type": "string",
            "maxLength": 5000,
            "description": "文本提示词\n生成视频的文本描述。\n注1：字符长度不能超过 5000 个字符\n注2：若使用is_rec推荐提示词参数，模型将不考虑此参数所输入的提示词"
          },
          "audio": {
            "type": "boolean",
            "default": false,
            "description": "是否使用音视频直出能力，默认为false，枚举值为：\n- false：不需要音视频直出，输出静音视频\n- true：需要音视频直出，输出带台词以及背景音的视频\n注1：该参数为true时，voice_id参数才生效\n注2：该参数为true时，仅q3模型支持错峰\n注3：当model 为q3-pro或q3-turbo、q3-pro-fast 时，该参数默认值为true"
          },
          "audio_type": {
            "type": "string",
            "enum": [
              "all",
              "speech_only",
              "sound_effect_only"
            ],
            "default": "all",
            "description": "音频类型，audio为true时必填，默认为all\n- all：音效+人声\n- speech_only：仅人声\n- sound_effect_only：仅音效\n注：该参数目前仅支持q2、q1、2.0系列模型的音频拆分"
          },
          "voice_id": {
            "type": "string",
            "description": "音色id，q3系列模型不生效\n用来决定视频中的声音音色，为空时系统会自动推荐，可选枚举值参考列表：新音色列表\n同时您可以使用声音复刻API来复刻任意音色，voice_id可以互通"
          },
          "is_rec": {
            "type": "boolean",
            "default": false,
            "description": "是否使用推荐提示词\n- true：是，由系统自动推荐提示词，并使用提示词内容生成视频，推荐提示词数量=1\n- false：否，根据输入的prompt生成视频\n注意：启用推荐提示词后，每个任务多消耗10积分"
          },
          "bgm": {
            "type": "boolean",
            "default": false,
            "description": "是否为生成的视频添加背景音乐。\n默认：false，可选值 true 、false\n- 传 true 时系统将从预设 BGM 库中自动挑选合适的音乐并添加；不传或为 false 则不添加 BGM。\n- BGM不限制时长，系统根据视频时长自动适配\n- BGM参数在q2模型的duration为 9秒 或 10秒 时不生效；该参数在q3模型中不生效"
          },
          "duration": {
            "type": "integer",
            "description": "视频时长\nviduq3-pro、viduq3-turbo viduq3-pro-fast 默认为 5，可选：1 - 16"
          },
          "seed": {
            "type": "integer",
            "description": "随机种子\n当默认不传或者传0时，会使用随机数替代\n手动设置则使用设置的种子"
          },
          "resolution": {
            "type": "string",
            "enum": [
              "540p",
              "720p",
              "1080p"
            ],
            "description": "分辨率参数，默认值依据模型和视频时长而定：\n- viduq3-pro-fast 1-16秒：默认 720p，可选：720p、1080p\n- viduq3-pro 、viduq3-turbo 1-16秒：默认 720p，可选：540p、720p、1080p"
          },
          "movement_amplitude": {
            "type": "string",
            "enum": [
              "auto",
              "small",
              "medium",
              "large"
            ],
            "default": "auto",
            "description": "运动幅度\n默认 auto，可选值：auto、small、medium、large\n注：q2、q3系列模型改参数不生效"
          },
          "payload": {
            "type": "string",
            "maxLength": 1048576,
            "description": "透传参数\n不做任何处理，仅数据传输\n注：最多 1048576个字符"
          },
          "off_peak": {
            "type": "boolean",
            "default": false,
            "description": "错峰模式，默认为：false，可选值：\n- true：错峰生成视频；\n- false：即时生成视频；\n\n注1：错峰模式消耗的积分更低，具体请查看产品定价\n\n注2：错峰模式下提交的任务，会在48小时内生成，未能完成的任务会被自动取消，并返还该任务的积分；\n\n注3：您也可以手动取消错峰任务\n\n注4：除q3 外的其他音视频直出功能，都不支持错峰模式"
          },
          "watermark": {
            "type": "boolean",
            "description": "是否添加水印\n- true：添加水印；\n- false：不添加水印；\n\n注1：目前水印内容为固定，内容由AI生成，默认不加\n\n注2：您可以通过watermarked_url参数查询获取带水印的视频内容，详情见查询任务接口",
            "default": false
          },
          "wm_position": {
            "type": "integer",
            "description": "水印位置，表示水印出现在图片的位置，可选项为：\n1：左上角\n2：右上角\n3：右下角\n4：左下角\n默认为：3",
            "default": 3
          },
          "wm_url": {
            "type": "string",
            "description": "水印内容，此处为图片URL\n不传时，使用默认水印：内容由AI生成"
          },
          "meta_data": {
            "type": "string",
            "description": "元数据标识，json格式字符串，透传字段，您可以 自定义格式 或使用 示例格式 ，示例如下：\n{\n\"Label\": \"your_label\",\n\"ContentProducer\": \"your_content_producer\",\n\"ContentPropagator\": \"your_content_propagator\",\n\"ProduceID\": \"your_product_id\",\n\"PropagateID\": \"your_propagate_id\",\n\"ReservedCode1\": \"your_reserved_code1\",\n\"ReservedCode2\": \"your_reserved_code2\"\n}\n该参数为空时，默认使用vidu生成的元数据标识"
          },
          "callback_url": {
            "type": "string",
            "description": "Callback 协议\n需要您在创建任务时主动设置 callback_url，请求方法为 POST，当视频生成任务有状态变化时，Vidu 将向此地址发送包含任务最新状态的回调请求。回调请求内容结构与查询任务API的返回体一致\n回调返回的\"status\"包括以下状态：\n- processing 任务处理中\n- success 任务完成（如发送失败，回调三次）\n- failed 任务失败（如发送失败，回调三次）\nVidu采用回调签名算法进行认证，详情见：回调签名算法"
          }
        }
      },
      "ImageToVideoResponse": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string",
            "description": "Vidu 生成的任务ID"
          },
          "state": {
            "type": "string",
            "enum": [
              "created",
              "queueing",
              "processing",
              "success",
              "failed"
            ],
            "description": "处理状态\n可选值：\ncreated 创建成功\nqueueing 任务排队中\nprocessing 任务处理中\nsuccess 任务成功\nfailed 任务失败"
          },
          "model": {
            "type": "string",
            "description": "本次调用的模型名称"
          },
          "prompt": {
            "type": "string",
            "description": "本次调用的提示词参数"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "本次调用的图像参数"
          },
          "duration": {
            "type": "integer",
            "description": "本次调用的视频时长参数"
          },
          "audio": {
            "type": "boolean",
            "description": "本次调用是否使用音画同出"
          },
          "audio_type": {
            "type": "string",
            "description": "本次调用输出的音频类型"
          },
          "seed": {
            "type": "integer",
            "description": "本次调用的随机种子参数"
          },
          "resolution": {
            "type": "string",
            "description": "本次调用的分辨率参数"
          },
          "movement_amplitude": {
            "type": "string",
            "description": "本次调用的镜头动态幅度参数"
          },
          "payload": {
            "type": "string",
            "description": "本次调用时传入的透传参数"
          },
          "off_peak": {
            "type": "boolean",
            "description": "本次调用时是否使用错峰模式"
          },
          "credits": {
            "type": "integer",
            "description": "本次调用使用的积分数"
          },
          "watermark": {
            "type": "boolean",
            "description": "本次提交任务是否使用水印"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "任务创建时间"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "错误代码。"
          },
          "message": {
            "type": "string",
            "description": "错误描述信息。"
          },
          "data": {
            "type": "object",
            "nullable": true,
            "description": "附加的错误数据（可选）。"
          }
        }
      }
    }
  }
}
