{
  "openapi": "3.0.1",
  "info": {
    "title": "Kling Multi Image-to-Image Task - Submit Task",
    "version": "1.0.0",
    "description": "Submit a Kling native multi image-to-image task via `/kling/v1/images/multi-image2image`."
  },
  "servers": [
    {
      "url": "https://api.powertokens.ai",
      "description": "Current new-api gateway instance"
    }
  ],
  "tags": [
    {
      "name": "Kling",
      "description": "Kling native async task endpoints"
    }
  ],
  "paths": {
    "/kling/v1/images/multi-image2image": {
      "post": {
        "summary": "Kling multi image-to-image task",
        "description": "Submit a Kling native multi image-to-image task via `/kling/v1/images/multi-image2image`.",
        "operationId": "createKlingMultiImage2Image",
        "tags": [
          "Kling"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KlingRequest"
              },
              "examples": {
                "request": {
                  "summary": "Request example",
                  "value": {
                    "model_name": "kling-v2",
                    "prompt": "Blend both references into one consistent illustration"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or rejected by upstream.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid Bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "KlingRequest": {
        "type": "object",
        "required": [
          "model_name",
          "subject_image_list"
        ],
        "properties": {
          "model_name": {
            "type": "string",
            "description": "Model name",
            "enum": [
              "kling-v2"
            ]
          },
          "prompt": {
            "type": "string",
            "description": "Positive text prompt",
            "maxLength": 2500
          },
          "subject_image_list": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "subject_image"
              ],
              "properties": {
                "subject_image": {
                  "type": "string",
                  "description": "Subject image URL or Base64 string."
                }
              }
            },
            "description": "Subject reference image list\n\n- Supports up to 4 images, minimum 1 image, passed as key:value pairs:\n`\"subject_image_list\":[  { \"subject_image\":\"image_url\" },  { \"subject_image\":\"image_url\" },  { \"subject_image\":\"image_url\" },  { \"subject_image\":\"image_url\" }]`\n- No cropping logic on the API side — please upload pre-cropped subject images directly\n- Supports image Base64 encoding or image URL (must be accessible)\n- Note: When using Base64, do not add any prefix such as data:image/png;base64, — provide only the Base64 encoded string itself.\n- Supported image formats: .jpg / .jpeg / .png\n- Image file size must not exceed 10MB, image dimensions must be at least 300px, aspect ratio between 1:2.5 ~ 2.5:1"
          },
          "scene_image": {
            "type": "string",
            "description": "Scene reference image\n\n- Supports image Base64 encoding or image URL (must be accessible)\n- Note: When using Base64, do not add any prefix such as data:image/png;base64, — provide only the Base64 encoded string itself.\n- Supported image formats: .jpg / .jpeg / .png\n- Image file size must not exceed 10MB, image dimensions must be at least 300px, aspect ratio between 1:2.5 ~ 2.5:1"
          },
          "style_image": {
            "type": "string",
            "description": "Style reference image\n\n- Supports image Base64 encoding or image URL (must be accessible)\n- Note: When using Base64, do not add any prefix such as data:image/png;base64, — provide only the Base64 encoded string itself.\n- Supported image formats: .jpg / .jpeg / .png\n- Image file size must not exceed 10MB, image dimensions must be at least 300px, aspect ratio between 1:2.5 ~ 2.5:1"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 9,
            "default": 1,
            "description": "Number of images to generate"
          },
          "aspect_ratio": {
            "type": "string",
            "description": "Aspect ratio of generated images (width:height)",
            "enum": [
              "1:1",
              "16:9",
              "4:3",
              "3:2",
              "2:3",
              "3:4",
              "9:16",
              "21:9"
            ],
            "default": "16:9"
          },
          "watermark_info": {
            "type": "object",
            "description": "Whether to also generate a watermarked result.",
            "properties": {
              "enabled": {
                "type": "boolean",
                "description": "true to generate watermarked result, false to not generate."
              }
            }
          },
          "callback_url": {
            "type": "string",
            "description": "Callback notification URL for this task. If configured, the server will proactively notify when the task status changes."
          },
          "external_task_id": {
            "type": "string",
            "description": "Custom task ID"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "description": "Error details returned by the gateway or upstream provider."
          }
        }
      },
      "SubmitResponse": {
        "type": "object",
        "required": [
          "code",
          "message",
          "data"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "description": "Kling response code. 0 indicates the task has been accepted."
          },
          "message": {
            "type": "string",
            "description": "Kling response message."
          },
          "request_id": {
            "type": "string",
            "description": "Upstream request identifier (if provided)."
          },
          "data": {
            "type": "object",
            "required": [
              "task_id",
              "task_status"
            ],
            "properties": {
              "task_id": {
                "type": "string",
                "description": "Public task ID generated by this gateway. The upstream task ID is not exposed."
              },
              "task_status": {
                "type": "string",
                "description": "Initial task status.",
                "example": "submitted"
              },
              "task_info": {
                "type": "object",
                "properties": {
                  "external_task_id": {
                    "type": "string",
                    "description": "External task ID provided by the client, or the public task ID injected by the gateway."
                  }
                }
              },
              "created_at": {
                "type": "integer",
                "format": "int64",
                "description": "Creation time in milliseconds."
              },
              "updated_at": {
                "type": "integer",
                "format": "int64",
                "description": "Update time in milliseconds."
              }
            }
          }
        }
      }
    }
  }
}
