{
  "openapi": "3.0.1",
  "info": {
    "title": "千问对话补全",
    "version": "1.0.0",
    "description": "千问系列模型的对话接口文档。公开统一入口为 `/v1/chat/completions`，适用于文本对话、多模态理解、流式输出与工具调用。",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API 服务地址"
    }
  ],
  "tags": [
    {
      "name": "Qwen Chat",
      "description": "千问系列对话与多模态能力"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "summary": "千问对话补全",
        "description": "适用于千问系列对话模型，包括 `qwen-turbo`、`qwen-plus`、`qwen-max`、`qwen-coder`、`qwen-vl-plus`、`qwen-vl-max` 等。\n\n公开字段：`model`、`messages`、`stream`、`temperature`、`top_p`、`max_tokens`、`stop`、`seed`、`tools`、`tool_choice`、`enable_search`、`response_format`。",
        "operationId": "aliChatCompletions",
        "tags": [
          "Qwen Chat"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "text_chat": {
                  "summary": "纯文本对话",
                  "value": {
                    "model": "qwen-max",
                    "messages": [
                      {
                        "role": "system",
                        "content": "你是一个有帮助的助手。"
                      },
                      {
                        "role": "user",
                        "content": "你好，请介绍一下自己。"
                      }
                    ],
                    "temperature": 0.7,
                    "max_tokens": 2000
                  }
                },
                "vision_chat": {
                  "summary": "图像理解（多模态）",
                  "value": {
                    "model": "qwen-vl-plus",
                    "messages": [
                      {
                        "role": "user",
                        "content": [
                          {
                            "type": "image_url",
                            "image_url": {
                              "url": "https://example.com/image.jpg"
                            }
                          },
                          {
                            "type": "text",
                            "text": "这张图片里有什么？"
                          }
                        ]
                      }
                    ]
                  }
                },
                "streaming_chat": {
                  "summary": "流式输出",
                  "value": {
                    "model": "qwen-max",
                    "messages": [
                      {
                        "role": "user",
                        "content": "讲一个短故事。"
                      }
                    ],
                    "stream": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "调用成功，返回对话补全结果。流式模式下返回 SSE 流。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数不合法。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "model",
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "模型名称。支持的模型：qwen-max、qwen-plus、qwen-turbo、qwen-coder、qwen-vl-plus、qwen-vl-max 等。",
            "example": "qwen-max"
          },
          "messages": {
            "type": "array",
            "description": "对话消息列表。支持文本内容和多模态内容（图像+文本）。",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "stream": {
            "type": "boolean",
            "description": "是否使用流式输出。默认为 false。",
            "default": false
          },
          "temperature": {
            "type": "number",
            "description": "采样温度，控制输出随机性。取值范围 [0, 2]。",
            "minimum": 0,
            "maximum": 2,
            "default": 0.7
          },
          "top_p": {
            "type": "number",
            "description": "核采样概率阈值。",
            "minimum": 0,
            "maximum": 1
          },
          "max_tokens": {
            "type": "integer",
            "description": "生成的最大 token 数。",
            "minimum": 1
          },
          "stop": {
            "type": "array",
            "description": "停止词列表。",
            "items": {
              "type": "string"
            }
          },
          "seed": {
            "type": "integer",
            "description": "随机数种子，用于复现生成结果。"
          },
          "tools": {
            "type": "array",
            "description": "工具列表，用于 Function Calling。",
            "items": {
              "$ref": "#/components/schemas/Tool"
            }
          },
          "tool_choice": {
            "type": "string",
            "description": "工具选择策略。可选值：auto、none、required。"
          },
          "enable_search": {
            "type": "boolean",
            "description": "是否启用搜索增强功能。仅部分模型支持。"
          },
          "response_format": {
            "type": "object",
            "description": "响应格式，用于强制模型输出 JSON。",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "text",
                  "json_object"
                ]
              }
            }
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant",
              "tool"
            ],
            "description": "消息发送者角色。"
          },
          "content": {
            "anyOf": [
              {
                "type": "string",
                "description": "文本内容。"
              },
              {
                "type": "array",
                "description": "多模态内容列表（用于图像理解）。",
                "items": {
                  "$ref": "#/components/schemas/ContentItem"
                }
              }
            ]
          },
          "tool_calls": {
            "type": "array",
            "description": "工具调用信息。",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "ContentItem": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "image_url"
            ],
            "description": "内容类型。"
          },
          "text": {
            "type": "string",
            "description": "文本内容。当 type=text 时必填。"
          },
          "image_url": {
            "type": "object",
            "description": "图像信息。当 type=image_url 时必填。",
            "properties": {
              "url": {
                "type": "string",
                "description": "图像 URL 或 Base64 编码的图像数据。"
              }
            }
          }
        }
      },
      "Tool": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function"
            ]
          },
          "function": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "函数名称。"
              },
              "description": {
                "type": "string",
                "description": "函数描述。"
              },
              "parameters": {
                "type": "object",
                "description": "函数参数定义（JSON Schema）。"
              }
            }
          }
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "响应唯一标识。"
          },
          "object": {
            "type": "string",
            "example": "chat.completion"
          },
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "创建时间的 Unix 时间戳（秒）。"
          },
          "model": {
            "type": "string",
            "description": "使用的模型名称。"
          },
          "choices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Choice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "Choice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer"
          },
          "message": {
            "$ref": "#/components/schemas/Message"
          },
          "finish_reason": {
            "type": "string",
            "description": "生成结束原因。可能的值：stop、length、tool_calls、content_filter、null。"
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "输入 token 数量。"
          },
          "completion_tokens": {
            "type": "integer",
            "description": "输出 token 数量。"
          },
          "total_tokens": {
            "type": "integer",
            "description": "总 token 数量。"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
