{
  "openapi": "3.0.1",
  "info": {
    "title": "Qwen 图像编辑",
    "version": "1.0.0",
    "description": "Qwen 图像编辑能力文档。公开统一入口为 `/v1/images/edits`，用于单图编辑、多图融合与风格改写。",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API 服务地址"
    }
  ],
  "tags": [
    {
      "name": "Qwen Image",
      "description": "Qwen 图像编辑与图生图能力"
    }
  ],
  "paths": {
    "/v1/images/edits": {
      "post": {
        "summary": "Qwen 图像编辑",
        "description": "适用于 Qwen 图像编辑模型。\n\n支持单图编辑与多图融合。公开字段：`model`、`image`、`prompt`、`n`、`size`、`response_format`、`seed`、`watermark`、`prompt_extend`、`negative_prompt`。JSON 与 `multipart/form-data` 两种请求方式均可使用。",
        "operationId": "aliImageToImage",
        "tags": [
          "Qwen Image"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageEditRequest"
              },
              "examples": {
                "single_image_edit": {
                  "summary": "单图编辑",
                  "value": {
                    "model": "qwen-image-2.0-pro",
                    "prompt": "将图片中的背景换成海滩场景",
                    "n": 2,
                    "size": "1536*1024",
                    "watermark": false,
                    "response_format": "url"
                  }
                },
                "multi_image_fusion": {
                  "summary": "多图融合",
                  "value": {
                    "model": "qwen-image-2.0-pro",
                    "prompt": "图1中的女生穿着图2中的黑色裙子按图3的姿势坐下",
                    "n": 2,
                    "size": "1024*1536",
                    "prompt_extend": true,
                    "watermark": false,
                    "response_format": "url"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ImageEditFormRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "调用成功，返回图像编辑结果。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数不合法。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ImageEditRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "qwen-image-2.0-pro",
              "qwen-image-2.0-pro-2026-03-03",
              "qwen-image-2.0",
              "qwen-image-2.0-2026-03-03",
              "qwen-image-edit-max",
              "qwen-image-edit-max-2026-01-16",
              "qwen-image-edit-plus",
              "qwen-image-edit-plus-2025-12-15",
              "qwen-image-edit-plus-2025-10-30",
              "qwen-image-edit"
            ],
            "description": "千问图像编辑模型名称。"
          },
          "prompt": {
            "type": "string",
            "description": "图像编辑提示词，描述期望的编辑效果。支持中英文，长度不超过 800 个字符。"
          },
          "n": {
            "type": "integer",
            "description": "生成图像的数量。qwen-image-2.0、qwen-image-edit-max/plus 系列支持 1-6 张，qwen-image-edit 仅支持 1 张。",
            "minimum": 1,
            "maximum": 6,
            "default": 1
          },
          "size": {
            "type": "string",
            "description": "输出图像分辨率，格式为 `宽*高`。总像素需在 512*512 至 2048*2048 之间。",
            "example": "1024*1024"
          },
          "response_format": {
            "type": "string",
            "enum": [
              "url",
              "b64_json"
            ],
            "description": "响应格式。",
            "default": "url"
          },
          "seed": {
            "type": "integer",
            "description": "随机数种子，取值范围 [0, 2147483647]。"
          },
          "watermark": {
            "type": "boolean",
            "description": "是否添加水印。",
            "default": false
          },
          "prompt_extend": {
            "type": "boolean",
            "description": "是否开启提示词智能改写。",
            "default": true
          },
          "negative_prompt": {
            "type": "string",
            "description": "反向提示词。"
          },
          "extra": {
            "type": "object",
            "description": "扩展参数，包含 input 和 parameters 字段。",
            "properties": {
              "input": {
                "type": "object",
                "description": "阿里云百炼原生输入格式，包含 messages 数组。"
              },
              "parameters": {
                "type": "object",
                "description": "阿里云百炼原生参数。"
              }
            }
          }
        }
      },
      "ImageEditFormRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt",
          "image"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "千问图像编辑模型名称。"
          },
          "prompt": {
            "type": "string",
            "description": "图像编辑提示词。"
          },
          "image": {
            "type": "string",
            "format": "binary",
            "description": "输入图像文件。支持上传多张图片，字段名为 image[] 或 image[0]、image[1] 等。"
          },
          "n": {
            "type": "integer",
            "description": "生成图像数量。"
          },
          "size": {
            "type": "string",
            "description": "输出分辨率。"
          },
          "response_format": {
            "type": "string",
            "enum": [
              "url",
              "b64_json"
            ],
            "default": "url"
          },
          "watermark": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "ImageResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer",
            "format": "int64",
            "description": "创建时间的 Unix 时间戳（秒）。"
          },
          "data": {
            "type": "array",
            "description": "生成的图像列表。",
            "items": {
              "$ref": "#/components/schemas/ImageData"
            }
          },
          "metadata": {
            "type": "object",
            "description": "附加结果信息。字段内容会随能力不同而变化。"
          }
        }
      },
      "ImageData": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "图片下载链接。有效期 24 小时。"
          },
          "b64_json": {
            "type": "string",
            "description": "Base64 编码的图片数据。"
          },
          "revised_prompt": {
            "type": "string",
            "description": "优化后的提示词。"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
