{
  "openapi": "3.0.1",
  "info": {
    "title": "Seedance 2.0",
    "version": "1.0.0",
    "description": "Dreamina Seedance 2.0 视频生成能力。公开统一入口为 `/v1/videos`，用于创建异步视频生成任务。\n\n支持文生视频、首帧图生视频，以及多模态参考生视频。",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API 服务地址"
    }
  ],
  "tags": [
    {
      "name": "Seedance Video",
      "description": "Seedance 系列视频生成能力"
    }
  ],
  "paths": {
    "/v1/videos": {
      "post": {
        "summary": "Seedance 2.0 视频生成",
        "description": "dreamina-seedance-2-0-260128\n\n适用于 Dreamina Seedance 2.0 模型。提交任务后，请通过 `GET /v1/videos/{task_id}` 查询状态。\n\n当前支持文生视频、首帧图生视频、多模态参考生视频。支持 `seconds`、`size`、`ratio`、`seed`、`watermark`、`generate_audio`、`return_last_frame`、`safety_identifier` 等字段。",
        "operationId": "seedance20Generations",
        "tags": [
          "Seedance Video"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              },
              "examples": {
                "text_to_video": {
                  "summary": "文生视频",
                  "value": {
                    "model": "dreamina-seedance-2-0-260128",
                    "media": [
                      {
                        "type": "text",
                        "text": "一只小猫在草地上奔跑，阳光明媚，镜头跟随移动"
                      }
                    ],
                    "seconds": "5",
                    "size": "720p",
                    "ratio": "16:9",
                    "generate_audio": true
                  }
                },
                "image_to_video": {
                  "summary": "首帧图生视频",
                  "value": {
                    "model": "dreamina-seedance-2-0-260128",
                    "media": [
                      {
                        "type": "text",
                        "text": "镜头缓缓推进，女孩微笑"
                      },
                      {
                        "type": "first_frame",
                        "url": "https://example.com/first-frame.jpg"
                      }
                    ],
                    "seconds": "5",
                    "size": "720p",
                    "ratio": "adaptive"
                  }
                },
                "multimodal_reference": {
                  "summary": "多模态参考生视频",
                  "value": {
                    "model": "dreamina-seedance-2-0-260128",
                    "media": [
                      {
                        "type": "text",
                        "text": "补充的提示词"
                      },
                      {
                        "type": "reference_image",
                        "url": "https://example.com/img1.jpg"
                      },
                      {
                        "type": "reference_video",
                        "url": "https://example.com/motion.mp4"
                      },
                      {
                        "type": "reference_audio",
                        "url": "https://example.com/audio.mp3"
                      }
                    ],
                    "seconds": "-1",
                    "size": "720p",
                    "ratio": "16:9",
                    "generate_audio": false,
                    "return_last_frame": false,
                    "safety_identifier": "user_123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "提交成功，返回视频任务对象。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "请求参数不合法。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "鉴权失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务端内部错误。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "VideoGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "media"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "dreamina-seedance-2-0-260128"
            ],
            "description": "视频生成模型名称。固定为 `dreamina-seedance-2-0-260128`。"
          },
          "media": {
            "type": "array",
            "minItems": 1,
            "description": "多模态输入数组。2.0 支持 `text`、`first_frame`、`last_frame`、`reference_image`、`reference_video`、`reference_audio`。",
            "items": {
              "$ref": "#/components/schemas/VideoMediaInput"
            }
          },
          "seconds": {
            "type": "string",
            "description": "视频生成时长（秒）的字符串形式。支持 `\"-1\"`（智能选择）或 `\"4\"` 到 `\"15\"`。",
            "default": "5",
            "example": "5",
            "enum": [
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "12",
              "15",
              "-1"
            ]
          },
          "size": {
            "type": "string",
            "enum": [
              "480p",
              "720p",
              "1080p"
            ],
            "description": "视频输出规格参数。默认 720p。",
            "default": "720p"
          },
          "ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "4:3",
              "1:1",
              "3:4",
              "9:16",
              "21:9",
              "adaptive"
            ],
            "description": "视频宽高比。文生视频默认 16:9，首帧图生视频默认 `adaptive`。",
            "default": "16:9"
          },
          "seed": {
            "type": "integer",
            "description": "随机数种子，取值范围 [-1, 4294967295]。",
            "default": -1,
            "minimum": -1,
            "maximum": 4294967295
          },
          "watermark": {
            "type": "boolean",
            "description": "是否添加水印。",
            "default": false
          },
          "generate_audio": {
            "type": "boolean",
            "description": "是否生成与画面同步的声音。2.0 系列支持。",
            "default": true
          },
          "return_last_frame": {
            "type": "boolean",
            "description": "是否返回尾帧图像。",
            "default": false
          },
          "safety_identifier": {
            "type": "string",
            "description": "终端用户唯一标识，用于合规检测。仅 2.0 系列支持，长度不超过 64 个字符。"
          }
        }
      },
      "VideoMediaInput": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "first_frame",
              "last_frame",
              "reference_image",
              "reference_video",
              "reference_audio"
            ],
            "description": "媒体类型。`text` 需要 `text` 字段；其他类型需要 `url` 字段。"
          },
          "url": {
            "type": "string",
            "description": "媒体地址。`type=text` 时不需要；其他类型必填。"
          },
          "text": {
            "type": "string",
            "description": "文本内容。`type=text` 时必填；其他类型不需要。"
          }
        }
      },
      "VideoTaskResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "task_id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "video"
          },
          "model": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "running",
              "succeeded",
              "failed",
              "cancelled",
              "expired"
            ],
            "description": "任务状态。"
          },
          "progress": {
            "type": "integer"
          },
          "created_at": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}