{
  "openapi": "3.0.1",
  "info": {
    "title": "Seedance 1.0 Pro Fast",
    "version": "1.0.0",
    "description": "Seedance 1.0 Pro Fast video generation capability. The unified API endpoint is `/v1/videos`, used to create asynchronous video generation tasks.\n\nSupports Text-to-Video and first-frame Image-to-Video.",
    "license": {
      "name": "Project License",
      "url": "https://github.com/QuantumNous/new-api/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://baze-api.powerbuyin.top",
      "description": "Baze API server address"
    }
  ],
  "tags": [
    {
      "name": "Seedance Video",
      "description": "Seedance series video generation capability"
    }
  ],
  "paths": {
    "/v1/videos": {
      "post": {
        "summary": "Seedance 1.0 Pro Fast Video Generation",
        "description": "seedance-1-0-pro-fast-251015\n\nApplicable to Seedance 1.0 Pro Fast models. After submitting a task, please query the status via `GET /v1/videos/{task_id}`.\n\nCurrently supports Text-to-Video and first-frame Image-to-Video. Supports fields such as `seconds`, `size`, `ratio`, `seed`, `camera_fixed`, `watermark`, `return_last_frame`.",
        "operationId": "seedance10ProFastGenerations",
        "tags": [
          "Seedance Video"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VideoGenerationRequest"
              },
              "examples": {
                "text_to_video": {
                  "summary": "Text-to-Video",
                  "value": {
                    "model": "seedance-1-0-pro-fast-251015",
                    "media": [
                      {
                        "type": "text",
                        "text": "A small cat running on the grass, bright sunshine, camera following the movement"
                      }
                    ],
                    "seconds": "5",
                    "size": "1080p",
                    "ratio": "16:9"
                  }
                },
                "image_to_video": {
                  "summary": "First-frame Image-to-Video",
                  "value": {
                    "model": "seedance-1-0-pro-fast-251015",
                    "media": [
                      {
                        "type": "text",
                        "text": "The camera slowly advances, the girl smiles"
                      },
                      {
                        "type": "first_frame",
                        "url": "https://example.com/first-frame.jpg"
                      }
                    ],
                    "seconds": "5",
                    "size": "1080p",
                    "ratio": "adaptive"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission successful, returns a video task object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoTaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "VideoGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "media"
        ],
        "properties": {
          "model": {
            "type": "string",
            "enum": [
              "seedance-1-0-pro-fast-251015"
            ],
            "description": "Video generation model name. Fixed to `seedance-1-0-pro-fast-251015`."
          },
          "media": {
            "type": "array",
            "minItems": 1,
            "description": "Multimodal input array. 1.0 Pro Fast supports `text`, `first_frame`, `last_frame`.",
            "items": {
              "$ref": "#/components/schemas/VideoMediaInput"
            }
          },
          "seconds": {
            "type": "string",
            "description": "Video generation duration (seconds) as a string. Supports `\"2\"` to `\"12\"`.",
            "default": "5",
            "example": "5",
            "enum": [
              "2",
              "3",
              "4",
              "5",
              "6",
              "7",
              "8",
              "9",
              "10",
              "11",
              "12"
            ]
          },
          "size": {
            "type": "string",
            "enum": [
              "480p",
              "720p",
              "1080p"
            ],
            "description": "Video output specification. Defaults to 1080p.",
            "default": "1080p"
          },
          "ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "4:3",
              "1:1",
              "3:4",
              "9:16",
              "21:9",
              "adaptive"
            ],
            "description": "Video aspect ratio. Text-to-Video defaults to 16:9, first-frame Image-to-Video defaults to `adaptive`.",
            "default": "16:9"
          },
          "seed": {
            "type": "integer",
            "description": "Random seed, range [-1, 4294967295].",
            "default": -1,
            "minimum": -1,
            "maximum": 4294967295
          },
          "camera_fixed": {
            "type": "boolean",
            "description": "Whether to fix the camera.",
            "default": false
          },
          "watermark": {
            "type": "boolean",
            "description": "Whether to add a watermark.",
            "default": false
          },
          "return_last_frame": {
            "type": "boolean",
            "description": "Whether to return the tail frame image.",
            "default": false
          }
        }
      },
      "VideoMediaInput": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "text",
              "first_frame",
              "last_frame"
            ],
            "description": "Media type. `text` requires the `text` field; other types require the `url` field."
          },
          "url": {
            "type": "string",
            "description": "Media address. Not required when `type=text`; required for other types."
          },
          "text": {
            "type": "string",
            "description": "Text content. Required when `type=text`; not required for other types."
          }
        }
      },
      "VideoTaskResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "task_id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "example": "video"
          },
          "model": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "queued",
              "running",
              "succeeded",
              "failed",
              "cancelled",
              "expired"
            ],
            "description": "Task status."
          },
          "progress": {
            "type": "integer"
          },
          "created_at": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}
